@import url('https://fonts.googleapis.com/css?family=Changa|Cookie|Notable|Lobster|Inconsolata');


*{
    padding: 0;
    margin: 0;
}

html{
    background: gray;
    transition: .3s all ease;
}

.hidden{
    
}

#b{
    color: brown;
}


#mainHead{   
    background-color: black;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    z-index: 88;
}


#mainHead h1{
    letter-spacing: .9px;
    color: goldenrod;   
    
}

#mainHead ul{
    padding-top: 20px;
   text-align: right;
    letter-spacing: .9px;   
}

#mainHead ul li{
    list-style-type: none;
    display: inline-block;
    padding-right: .7em;
    
}
#mainHead ul li label{
    color: blue;
    cursor: pointer;
}
#mainHead ul li label:hover{
    color: goldenrod;
    cursor: pointer;
}

#A{
    background: black;
    padding: 5em 2em;
    height: 100vh;
    color: red;
    cursor: pointer;
    visibility: hidden;
    position: absolute;
    transition: .5s all ease;
}

#B{
    padding: 2em;
    background-color: darksalmon;
    visibility: hidden;
    padding: 5em 2em;
    height: 100vh;
    position: absolute;
    transition: .5s all ease;
    color: snow;
}

#C{
    padding: 2em;
    background-color: darkcyan;
    position: absolute;
    visibility: hidden;
    padding: 5em 2em;
    height: 100vh;
    transition: .5s all ease;
    color: lawngreen;
    
}


#D{
    padding: 2em;
    background-color: darkviolet;
    visibility: hidden;
    padding: 5em 2em;
    height: 100vh;
    position: absolute;
    transition: .5s all ease;
    color: burlywood;
}


#E{
    padding: 2em;
    color: deeppink;
    background-color: chartreuse;
    visibility: hidden;
    position: absolute;
    padding: 5em 2em;
    height: 100vh;
    transition: .5s all ease;
}


/* HOME navigation 
#home:checked ~ #mainHead label #a{
    display: none;
}
#home:checked ~ #mainHead label #b{
    display: inline-block;
}

#home:checked ~ #A{
    display: inline-block;
}

#home:checked ~ #B{
   display: none;
}

#home:checked ~ #C{
    display: none;
 }

 #home:checked ~ #D{
    display: none;
 }

 #home:checked ~ #E{
    display: none;
 }


  /*ABOUT navigation 
#about:checked ~ #mainHead label #a{
    display: none;
}
#about:checked ~ #mainHead label #b{
    display: inline-block;
}

#about:checked ~ #B{
    display: inline-block;
}

#about:checked ~ #home{
    content: none;
}

#about:checked ~ #C{
    display: none;
}

#about:checked ~ #D{
    display: none;
}

#about:checked ~ #E{
   display: none;
} */
