
#C{
    background: black; 
    position: relative;
    display: none;
    padding: 5em 5vw;
    height: 100vh;
    color: white;
    font-size: 50px;
    overflow: hidden;
}

#C h1{
    
    margin-bottom: 250px;
}

@media only screen and (max-width: 600px){
    #C{
        font-size: 30px;
        padding: 200px 0 0 0;
    }
    #C footer{
        margin-left: 10px;
        width: 85vw;
        
    }
    #C ul{
        display: block;
        
    }
    
    #C footer li{
        border-right: none;
        word-wrap: break-word;
        padding: 5px;
        font-size: 15px;
        line-height: 20px;
        
    }
    #C footer p{
        font-size: 15px;
        
    }
}


